<!DOCTYPE html>
<html>
<head>
    <title>CCTV 영상</title>
</head>
<body>
    <div id="cctvContainer"></div>
    <!-- Import TensorFlow.js library -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js" type="text/javascript"></script>
    <script>
        async function loadModelAndPredict() {
            try {
                const yolov5 = await tf.loadGraphModel('/static/best_web_model/model.json');
                // Other code related to loading and setting up the model

                // URL
                const api_url = 'http://www.utic.go.kr/view/map/cctvStream.jsp?cctvid=L902704&cctvname=%25EC%2584%259C%25EC%259A%25B8%2520%25EC%2584%259C%25EC%25B4%2588%2520%25EC%2584%259C%25EC%25B4%2588%25EB%258C%2580%25EB%25A1%259C&kind=EE&cctvip=9990&cctvch=null&id=null&cctvpasswd=null&cctvport=null&minX=127.00182995981353&minY=37.48782667683961&maxX=127.06121163497251&maxY=37.51313060242616'

                // CCTV 영상 추가
                const cctvContainer = document.getElementById("cctvContainer");
                const iframe = document.createElement("iframe");
                iframe.src = api_url;
                iframe.width = "1000";
                iframe.height = "1000";
                iframe.setAttribute("allowfullscreen", "");
                cctvContainer.appendChild(iframe);

                // using reference to iframe obtained
                var win = iframe.contentWindow; // reference to iframe's window
                // reference to document in iframe
                var doc = iframe.contentDocument? iframe.contentDocument: iframe.contentWindow.document;
                // reference to form named 'demoForm' in iframe
                var form = doc.getElementById('vid_html5_api');

                // Now you can use the yolov5 model for predictions
                // yolov5.predict(iframe);
                // yolov5.predict('http://www.utic.go.kr/view/map/cctvStream.jsp?cctvid=L902704&cctvname=%25EC%2584%259C%25EC%259A%25B8%2520%25EC%2584%259C%25EC%25B4%2588%2520%25EC%2584%259C%25EC%25B4%2588%25EB%258C%2580%25EB%25A1%259C&kind=EE&cctvip=9990&cctvch=null&id=null&cctvpasswd=null&cctvport=null&minX=127.00182995981353&minY=37.48782667683961&maxX=127.06121163497251&maxY=37.51313060242616')
            } catch (error) {
                console.error("Error:", error);
            }
        }

        loadModelAndPredict();
    </script>
</body>
</html>
